<mat-card class="example-card">
    <div class="row" style="text-align: center;">
        <div mat-card-avatar class="example-header-image"></div>
        <div>
            <mat-card-title>Login</mat-card-title>
        </div>
    </div>
    <mat-card-content>
        <form #frm="ngForm" (ngSubmit)="login(frm.value)">
            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your Customer ID</mat-label>
                    <input matInput placeholder="Customer ID" #customerId="ngModel" name="customerId" required ngModel>
                </mat-form-field>
                <!--<div *ngIf="customerId.touched  && customerId.invalid">
                    <div *ngIf="customerId.errors.required" style="color: red;">Please enter Customer ID</div>
                </div>-->
            </div>
            <div class="form-control">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput #password="ngModel" name="password" type="password" required ngModel>
                </mat-form-field>
                <!--<div *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors.required" style="color: red;">Please enter Password</div>
                </div>-->
            </div>
            <div class="form-control" style="text-align: center;">
                <button mat-button style="background-color: cadetblue;" [disabled]="!frm.form.valid">LOGIN</button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>