<div>
    <div class="quick-link">
        <h3>
            QUICK LINKS
        </h3>
    </div>
    <div class="root-class" fxLayoutAlign="space-between" fxLayoutGap="12px">
        <div class="mat-card-class" (click)="showAccounts()">
            <mat-card>
                <div>Accounts</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                account_balance
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>Fund Transfer</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    compare_arrows
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>FD/RD</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    paid
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>Loans</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    battery_saver
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>Recharge</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    battery_charging_full
                </span>
            </mat-card>
        </div>
    </div>
    <div class="quick-link">
        <h3>
            SERVICES
        </h3>
    </div>
    <div class="root-class" fxLayoutGap="62px" (click)="showAccounts()">
        <div class="mat-card-class">
            <mat-card>
                <div>Accounts</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                account_balance
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>FD/RD</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    paid
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>Loans</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    battery_saver
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>Credit/Debit Cards</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    credit_card
                </span>
            </mat-card>
        </div>
    </div>
    <div class="quick-link">
        <h3>
            PAYMENT
        </h3>
    </div>
    <div class="root-class" fxLayoutGap="62px">
        <div class="mat-card-class">
            <mat-card>
                <div>Fund Transfer</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    compare_arrows
                </span>
            </mat-card>
        </div>
        <div class="mat-card-class">
            <mat-card>
                <div>Recharge</div>
                <span class="material-icons" style="font-size: 89px;color: #B0275F;">
                    battery_charging_full
                </span>
            </mat-card>
        </div>
    </div>
</div>